{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}

<body>
    <form action="/add_duty_post/" method="POST">
        {% csrf_token %}
        <table class="table table-bordered table-hover"><br><br>
            <input type="hidden" name="staff" value="{{ data.staff_id }}">
            <tr>
                <th>Job</th>
                <td><input type="text" name="job" class="form-control"></td>
            </tr>
            <tr>
                <th>Date</th>
                <td><input type="date" name="date" id="date"class="form-control"></td>
            </tr>
            <tr>
                <th>Time</th>
                <td><input type="time" name="time" class="form-control"></td>
            </tr>
            <tr>
                <th>Workstation</th>
                <td><input type="text" name="workstation" class="form-control"></td>
            </tr>
            {% if data.post == "driver" %}
            <tr>
                <th>Vehicle</th>
                <td>
                    <select name="vehicle" class="form-control">
                        <option value="" disabled selected>Select Vehicle</option>
                        {% for i in vehicles %}
                        {% if i.status == 'available' %}
                            <option value="{{ i.vehicle_id }}">{{ i.type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="submit" value="Add" class="btn btn-primary">
                </td>
            </tr>
        </table>
    </form>
    <script>
        // Set the min attribute of the duty date input field to today's date
        document.getElementById('date').setAttribute('min', new Date().toISOString().split('T')[0]);
    </script>
</body>
{% endblock x %}