{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}
<body>
    <br><br>
    <table class="table table-bordered">
        <tr>
            <th>Order ID</th>
            {% comment %} <th>Customer Name</th> {% endcomment %}
            <th>Account Number</th>
            <th>IFSC Code</th>
            <th>Fee</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{data.ORDER.order_id}}</td>
            {% comment %} <td>{{data.ORDER.CUSTOMER.customer_name}}</td> {% endcomment %}
            <td>{{data.acc_number}}</td>
            <td>{{data.ifsc_code}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.date}}</td>
            {% if data.status == 'COD' %}
            <td><span class="badge bg-warning">{{data.status}}</span></td>
            {% else %}
            <td><span class="badge bg-success">{{data.status}}</span></td>

            {% endif %}
            
        <td><a href="/schedule_order/{{data.ORDER.order_id}}" class="btn btn-success btn-sm" title="Accept"><i class="fas fa-check"></i></a></td>
        <td><a href="/reject_order/{{ data.ORDER.order_id }}" class="btn btn-danger btn-sm" title="Reject"><i class="fas fa-times"></i></a></td>
    </tr>
    </table>
</body>
{% endblock x %}
