{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}

<body>
    <br><br>
    <form id="form1" name="form1" method="post" action="/edit_worksite_post/" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered table-hover">
            <tr align="center">
                <td colspan="2"><img src="{{data.photo1}}" alt="" width="100px" height="100px"></td>
              </tr>
              <tr align="center">
                <td colspan="2"><img src="{{data.photo2}}" alt="" width="100px" height="100px"></td>
              </tr>
              <tr align="center">
                <td colspan="2"><img src="{{data.photo3}}" alt="" width="100px" height="100px"></td>
              </tr>
            <tr>
                <th>Product</th>
                <td>
                    <select id="product" name="product" required class="form-control">
                        {% for i in data2 %}
                            <option value="{{ i.product_id }}" {% if i.product_id == data.PRODUCT.product_id %}selected{% endif %}>{{ i.product_name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <input type="hidden" name="id" value="{{ data.worksite_id }}">
            </tr>
            <tr>
                <th>Location</th>
                <td><input type="text" name="location" id="location" class="form-control" value="{{ data.worksite_location }}" required/></td>
            </tr>
            <tr>
                <th>Photo1</th>
                <td><input type="file" name="photo1" id="photo1" class="form-control" required/></td>
            </tr>
            <tr>
                <th>Photo2</th>
                <td><input type="file" name="photo2" id="photo2" class="form-control" required/></td>
            </tr>
            <tr>
                <th>Photo3</th>
                <td><input type="file" name="photo3" id="photo3" class="form-control" required/></td>
            </tr>
            <tr>
                <th>Remark</th>
                <td><input type="text" name="remark" id="remark" class="form-control" value="{{ data.remark }}"required/></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><input type="submit" name="button" id="button" value="Update" class="btn btn-primary"/></td>
            </tr>
        </table>
    </form>
</body>
{% endblock x %}
