{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}

<body>
    <br><br>
    <form method="post" action="/schedule_return_post/{{data1.returns_id}}">
    {%csrf_token%}
    <table class="table table-bordered table-hover">       
            <tr>
                <th>Order ID</th>
                <td><input type="text" id="orderId" name="orderId" class="form-control" value="{{data5.order_id}}" readonly style="background-color: #f0f0f0;"></td>
            </tr>
            <tr>
                <th>Customer Name</th>
                <td><input type="text" id="customerName" name="customerName" class="form-control" value="{{data5.CUSTOMER.customer_name}}" readonly style="background-color: #f0f0f0;"></td>
            </tr>
            <tr>
                <th>Product</th>
                <td><input type="text" id="product" name="product" class="form-control" value="{{data5.PRODUCT.product_name}}" readonly style="background-color: #f0f0f0;"></td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td><input type="text" id="quantity" name="quantity" min="1" class="form-control" value="{{data5.quantity}}" readonly style="background-color: #f0f0f0;"></td>
            </tr>
            <tr>
                <th>Order Date</th>
                <td><input type="date" id="orderDate" name="orderDate" class="form-control" value="{{data1.date}}" readonly style="background-color: #f0f0f0;"></td>
            </tr>
            <tr>
                <th>Return Date</th>
                <td><input type="date" id="deliveryDate" name="deliveryDate" class="form-control" required></td>
            </tr>
            <tr>
                <th>Return Time</th>
                <td><input type="time" id="deliveryTime" name="deliveryTime" class="form-control" required></td>
            </tr>
            <tr>
                <th>Staff</th>
                <td>
                    <select id="staff" name="staff" class="form-control" required>
                        <option value="" disabled selected>Select staff</option>
                        {% for i in data3 %}
                        {% if i.status != 'scheduler' %}
                        <option value="{{ i.staff_id }}">{{ i.staff_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Vehicle</th>
                <td>
                    <select id="vehicle" name="vehicle" class="form-control" required>
                        <option value="" disabled selected>Select Vehicle</option>
                        {% for i in data2 %}
                            {% if i.status == 'available' %}
                                <option value="{{ i.vehicle_id }}">{{ i.type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>            
            <tr>
                <td colspan="2" class="text-center">
                  <button type="submit" class="btn btn-primary">Schedule</button>
                </td>
              </tr>
        </table>
        </form>
        <script>
            // Set the min attribute of the delivery date input field to today's date
            document.getElementById('deliveryDate').setAttribute('min', new Date().toISOString().split('T')[0]);
        </script>
</body>
{% endblock x %}
