{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}
<body>
  <table class="table table-bordered table-hover">
    <br><br>
      <tr>
        <th>Category Name</th>
        <th>Photo</th>
      </tr>
      {% for i in data %}
        <tr>
          <td>{{ i.category_name }}</td>
          <td><img src="{{ i.photo }}" alt="{{ i.category_name }}" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" /></td>
          <td>
            <a href="/view_product2/{{ i.category_id }}" class="btn btn-info" title="Products">
              <i class="fas fa-cubes"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
  </table>
</body>
{% endblock x %}
