{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}

<body>

<div class="container mt-5">

  {% if data %}
    <table class="table table-bordered table-hover">
        <tr>
          <th>Name</th>
          <th>Photo</th>
          <th>Place</th>
          <th>Email</th>
          <th>Phone</th>
          <th>State</th>
        </tr>
        {% for i in data %}
          <tr>
            <td>{{ i.staff_name }}</td>
            <td><img src="{{ i.photo }}" alt="{{ i.staff_name }}" class="img-thumbnail" style="max-width: 100px; max-height: 100px;"></td>
            <td>{{ i.place }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.state }}</td>
            <td><a href="/add_duty/{{i.staff_id}}" class="btn btn-primary btn-sm">Duty</a></td>    
          </tr>
        {% endfor %}
    </table>
  {% else %}
    <p>No staff available.</p>
  {% endif %}
</div>

</body>
{% endblock x %}
