{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}

<style>
  .table td img {
    width: 36px;
    height: 36px;
    border-radius: 100%; 
}
</style>
<body>
<br><br>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="">
{% csrf_token %}
  {% comment %} <table class="table table-bordered">
    <tr>
      <td><input type="text" name="textfield" id="textfield" placeholder="Search by Name" class="form-control " required/></td>
      <td width="80px"><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
    </tr>
  </table> {% endcomment %}
  {% if data %}
  <div style="text-align: center;">
    <table class="table table-bordered table-hover">
      <tr>
        <th> S. No </th>
        <th> Date </th>
        <th> Customer Details </th>
        <th> Category </th>
        <th> Product </th>
        <th> Quantity </th>
      </tr>
      {% for i in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.date }}</td>
        <td>{{ i.CUSTOMER.customer_name }}<br>
          {{ i.CUSTOMER.address }}<br>
          {{ i.CUSTOMER.pin }}<br>
          {{ i.CUSTOMER.email }}<br>
          {{ i.CUSTOMER.phone }}</td>
        <td><img src="{{ i.PRODUCT.CATEGORY.photo }}" alt="" class="img-thumbnail" /> {{ i.PRODUCT.CATEGORY.category_name }}</td>
        <td><img src="{{ i.PRODUCT.photo }}" alt="" class="img-thumbnail" /> {{ i.PRODUCT.product_name }}</td>
        <td>{{ i.quantity }}</td>
        <td>
          <a href="/check_payment/{{i.order_id}}" class="btn btn-success" title="Check Payment">
            <i class="fas fa-money-check"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
    <p>Orders not available</p>
  {% endif %}
</form>
</body>
{% endblock x %}
