{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}

<body>
<br><br>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="">
{% csrf_token %}
    {% if data %}
        <table class="table table-bordered table-hover">
            <tr>
                <th>SL.NO</th>
                <th>Staff Name</th>
                <th>Date</th>
                <th>Time</th>
                {% comment %} <th>Status</th> {% endcomment %}
            </tr>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.STAFF.staff_name }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.time }}</td>
                {% comment %} <td>
                <span class="badge rounded-pill bg-warning"</span>{{i.status}}</span>
                </td>
            </tr> {% endcomment %}
            {% endfor %}
        </table>
    {% else %}
        <p>Delivery duties not available</p>
    {% endif %}
</form>
</body>
{% endblock x %}
