{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}

<style>
  .table td img {
    width: 36px;
    height: 36px;
    border-radius: 100%; 
}
</style>
<body>
  <br><br>
  <form id="form1" name="form1" method="post" action="/view_cancel_request_post/">
    {% csrf_token %}
      <table class="pull-left">
        <tr>
          <th>From</th>
          <td>
          <input type="date" name="textfield1" id="textfield1" class="form-control" required/></td>
          <th>To</th>
          <td>
          <input type="date" name="textfield2" id="textfield2" class="form-control" required/></td>
          <td><input type="submit" name="button" id="button" value="Search" class="btn btn-info" /></td>
        </tr>
      </table>
  <br>
  {% if data %}
  <div style="text-align: center;">
    <table class="table table-bordered table-hover">
        <tr>
          <th>S. No</th>
          <th>Date</th>
          <th>Customer Details</th>
          <th>Category</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Status</th>
        </tr>
        {% for i in data %}
          <tr>
            <td>{{ forloop.counter  }}</td>
            <td>{{ i.date }}</td>
            <td>{{ i.CUSTOMER.customer_name }}<br>
              {{ i.CUSTOMER.address }}<br>
              {{ i.CUSTOMER.pin }}<br>
              {{ i.CUSTOMER.email }}<br>
              {{ i.CUSTOMER.phone }}</td>
            <td><img src="{{ i.PRODUCT.CATEGORY.photo }}" alt="" class="img-thumbnail" /> {{ i.PRODUCT.CATEGORY.category_name }}</td>
            <td><img src="{{ i.PRODUCT.photo }}" alt="" class="img-thumbnail" /> {{ i.PRODUCT.product_name }}</td>
            <td>{{ i.quantity }}</td>
            <td>{{ i.amount }}</td>
              {% if i.payment_method == 'BANK' %}
                <td><span class="badge rounded-pill bg-success">PAID</span></td>
              {% elif i.payment_method == 'COD' %}
                <td><span class="badge rounded-pill bg-warning">COD</span></td>
              {% else %}
                <td>{{ i.payment_method }}</td>
              {% endif %}
            <td><a href="/cancel_confirm/{{i.order_id}}" class="btn btn-danger btn-sm" title="cancel confirm">Confirm</a></td>
          </tr>
        {% endfor %}
    </table>
  </div>
  {% else %}
    <p>No cancel request available.</p>
  {% endif %}
</body>
{% endblock x %}
