{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}

<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}

  <table class="table table-bordered">
    <tr><br><br>
      {% comment %} <td>
      <input type="text" name="textfield" id="textfield" placeholder="Search by Name" class="form-control " required/></td>
      <td width="80px"><input type="submit" name="button" id="button" value="Search" class="btn btn-success"/></td>
    </tr> {% endcomment %}
  </table>
  {% if data %}
    <table class="table table-bordered">
      <tr>
        <th>SL.NO</th>
        <th>Name</th>
        <th> Category </th>
        <th> Product </th>
        <th> Photo </th>
        {% comment %} <th> Phone </th> {% endcomment %}
        <th> Date </th>
        <th> Quantity </th>
        {% comment %} <th> Status </th> {% endcomment %}
      </tr>
      {% for i in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.CUSTOMER.customer_name }}</td>
        <td>{{ i.PRODUCT.CATEGORY.category_name }}</td>
        <td>{{ i.PRODUCT.product_name }}</td>
        <td><img src="{{ i.PRODUCT.photo }}" alt="" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" /></td>
        {% comment %} <td>{{ i.CUSTOMER.phone }}</td> {% endcomment %}
        <td>{{ i.date }}</td>
        <td>{{ i.quantity }}</td>
        {% comment %} <td>{{ i.status }}</td> {% endcomment %}
        <td>
          <a href="/check_payment/{{i.order_id}}" class="btn btn-success" title="Check Payment">
            <i class="fas fa-money-check"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Orders not available</p>
  {% endif %}
</form>
</body>
{% endblock x %}
