{% extends 'Scheduler/scheduler_home.html' %}
{% block x %}

<body>
<br><br>
  {% if data %}
    <table class="table table-bordered table-hover">
        <tr>
          <th>Name</th>
          <th>Photo</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
        {% for i in data %}
          <tr>
            <td>{{ i.product_name }}</td>
            <td><img src="{{ i.photo }}" alt="{{ i.product_name }}" class="img-thumbnail" style="max-width: 100px; max-height: 100px;"></td>
            <td>{{ i.description }}</td>
            <td>{{ i.price }}</td>
            <td>{{ i.quantity }}</td>
            <td>
                <a href="/edit_quantity/{{ i.product_id }}" class="btn btn-warning btn-sm" title="Edit"><i class="fas fa-edit"></i></a>
              </td>
          </tr>
        {% endfor %}
    </table>
  {% else %}
    <p>No products available.</p>
  {% endif %}
</body>
{% endblock x %}
