{% extends 'Admin/admin_home.html' %}
{% block x %}

<body>
  <form method="post" action="/add_vehicle_post/">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <br><br>
      <tr>
        <th>Vehicle Number</th>
        <td><input type="text" class="form-control" id="vehicle_number" name="vehicle_number" required></td>
      </tr>
      <tr>
        <th>Vehicle Type</th>
        <td>
        <input type="text" class="form-control" id="vehicle_type" name="vehicle_type" required></input>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-success">Add</button>
        </td>
      </tr>
    </table>
  </form>
</body>
{% endblock x %}
