{% extends 'Admin/admin_home.html' %}
{% block x %}

<body>
  <br><br>
  <form method="post" action="/add_staff_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <tr>
        <th>Staff Name</th>
        <td><input type="text" class="form-control" id="staff_name" name="staff_name" required></td>
      </tr>
      <tr>
        <th>Photo</th>
        <td><input type="file" class="form-control" id="staff_photo" name="staff_photo" required></td>
      </tr>
      <tr>
        <th>Place</th>
        <td><input type="text" class="form-control" id="staff_place" name="staff_place" required></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><input type="email" class="form-control" id="staff_email" name="staff_email" required></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><input type="tel" class="form-control" id="staff_phone" name="staff_phone" required></td>
      </tr>
      <tr>
        <th>State</th>
        <td><input type="text" class="form-control" id="staff_state" name="staff_state" required></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><button type="submit" class="btn btn-success">Add</button></td>
      </tr>
    </table>
  </form>
</body>
{% endblock x %}
