{% extends 'Admin/admin_home.html' %}
{% block x %}
<head>
  <style>
      .form-table {
        border: 1px solid #000; /* Change the color as needed */
        width: 100%; /* Adjust as needed */
      }
    </style>
  <script>
    function valid()
    {

      var c=document.getElementById("category_type").value;
  
      if(c==9)
      {
        document.getElementById("dim").style.display="block";
        document.getElementById("dim1").style.display="block";
        document.getElementById("shaps").style.display="block";
      }
      
      else if(c==7)
      {
        document.getElementById("dim").style.display="block";
        document.getElementById("dim1").style.display="block";
        document.getElementById("shaps").style.display="none";
        
      }
      else{
        document.getElementById("dim").style.display="none";
        document.getElementById("dim1").style.display="none";
        document.getElementById("shaps").style.display="none";
      }
      
      


    }
    function valid1()
    {

        document.getElementById("shaps").style.display="none";
        document.getElementById("dim").style.display="none";
        document.getElementById("dim1").style.display="none";
      
    }
  </script>
</head>
<body onload="valid1()">
  <br><br>
  <form id="form1" name="form1" method="post" action="/add_product_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <tr>
        <th>Product Name</th>
        <td><input type="text" name="product_name" id="product_name" class="form-control" required/></td>
      </tr>
      <tr>
        <th>Photo</th>
        <td><input type="file" name="product_photo" id="product_photo" class="form-control" required/></td>
      </tr>
      {% comment %} <tr>
        <th>Strength</th>
        <td><input type="text" name="detail_4" id="detail_4" class="form-control"/></td>
      </tr> {% endcomment %}
      <tr>
        <th>Description</th>
        <td><textarea name="product_description" id="product_description" class="form-control" required></textarea></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><input type="number" name="product_price" id="product_price" class="form-control" required/></td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td><input type="number" name="product_quantity" id="product_quantity" class="form-control" required/></td>
      </tr>
      <tr>
        <th>Category Type</th>
     
        <td>
          <select name="category_type" id="category_type" class="form-select" onChange="valid();" required>
            <option value="" disabled selected>Select a category</option>
            {% for i in data %}
            <option value="{{ i.category_id }}">{{ i.category_name }}</option>
            {% endfor %}
          </select>
      </td>
    </tr>
  </table>
  <table class="table table-bordered table-hover">
    {% comment %} <div id="dim1">
      <table width="1150px" border="1px" height="50px"> {% endcomment %}
        <tr id= "dim1">
        <th style="width:340px">Color</th>
        <td style="width:960px">
          <select name="detail_1" id="detail_1" class="form-select" >
            <option value="" disabled selected>Select a color</option>
            <option value="Grey">Grey</option>
            <option value="Red">Red</option>
            <option value="Black">Black</option>
            {% comment %} <option value="White">White</option>
            <option value="Blue">Blue</option> {% endcomment %}
          </select>
        </td>
      </tr>
    {% comment %} </table> {% endcomment %}
  {% comment %} </div> {% endcomment %}
  {% comment %} </table> {% endcomment %}

    <!-- Add Detail 2 -->
{% comment %} <br>
  <div id="dim">
    <table width="1150px" border="1px" height="50px"> {% endcomment %}
      <tr id= "dim">
      <th style="width:334px">Dimension</th>
      <td style="width:960px">
      <select name="detail_2" id="detail_2" class="form-select">
        <option value="" disabled selected>Select a dimension</option>
        <option>8 x 8 x 16</option>
        <option>6 x 8 x 16</option>
        <option>5 x 8 x 16</option>
        <option>4 x 8 x 16</option>
        <option>3 x 8 x 16</option>
      </select>
    </td>
    </tr>
  {% comment %} </table> {% endcomment %}
</div>


{% comment %} 
<div id="shaps">
  <table width="1050px" border="1px"> {% endcomment %}
    <tr id="shaps">
      {% comment %} <td style="width:250px;padding:4px"> {% endcomment %}
      <th style="width:340px">Shape</th>
      <td style="width:960px">
        <select name="detail_3" class="form-select" >
          <option value="" disabled selected>Select a shape</option>
          <option value="Square">Square</option>
          <option value="Rectangle">Rectangle</option>
          <option value="Others">Others</option>
          {% comment %} <option value="Triangle">Triangle</option>
          <option value="Hexagon">Hexagon</option> {% endcomment %}
        </select>
      </td>
    </tr>
  </table>
    
           
          
<div class="text-center">
  <input type="submit" name="button" id="button" value="Add" class="btn btn-success"/>
</div>
    
  </form>
</body>
{% endblock x %}
