{% extends 'Admin/admin_home.html' %}
{% block x %}
</head>
<body>
<div id="form-container">
  <form id="form1" name="form1" method="post" action="/add_product_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <br><br>
      <tr>
        <td>Product Name</td>
        <td><input type="text" name="product_name" id="product_name" class="form-control"/></td>
      </tr>
      <tr>
        <td>Photo</td>
        <td><input type="file" name="product_photo" id="product_photo" class="form-control"/></td>
      </tr>
      <!-- Add Detail 1 -->
      <tr>
        <td>Detail 1</td>
        <td><input type="text" name="detail_1" id="detail_1" class="form-control"/></td>
      </tr>
      <!-- Add Detail 2 -->
      <tr>
        <td>Detail 2</td>
        <td><input type="text" name="detail_2" id="detail_2" class="form-control"/></td>
      </tr>
      <!-- Add Detail 3 -->
      <tr>
        <td>Detail 3</td>
        <td><input type="text" name="detail_3" id="detail_3" class="form-control"/></td>
      </tr>
      <!-- Add Detail 4 -->
      <tr>
        <td>Detail 4</td>
        <td><input type="text" name="detail_4" id="detail_4" class="form-control"/></td>
      </tr>
      <!-- Add Detail 5 -->
      <tr>
        <td>Detail 5</td>
        <td><input type="text" name="detail_5" id="detail_5" class="form-control"/></td>
      </tr>
      <!-- Add Detail 6 -->
      <tr>
        <td>Detail 6</td>
        <td><input type="text" name="detail_6" id="detail_6" class="form-control"/></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><textarea name="product_description" id="product_description" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input type="text" name="product_price" id="product_price" class="form-control"/></td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td><input type="text" name="product_quantity" id="product_quantity" class="form-control"/></td>
      </tr>
      <tr>
        <td>Category Type</td>
        <td>
          <select name="category_type" id="category_type" class="form-control">
            {% for i in data %}
            <option value="{{ i.category_id }}">{{ i.category_name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><input type="submit" name="button" id="button" value="Add" class="btn btn-success"/></td>
      </tr>
    </table>
  </form>
</div>
</body>
{% endblock x %}
