{% extends 'Admin/admin_home.html' %}
{% block x %}
<body>
  <style>
    *{
        margin: 0;
        padding: 0;
    }
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

    .form-box {
        border: 1px solid #ccc;
        padding: 20px;
        width: 50%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

</style><br>
  <form method="post" action="/complaint_reply_post/{{ data.complaint_id }}">
      {% csrf_token %}
      <table>
      <th>Complaint Reply</th>
    </table><br>
      <textarea name="message" id="message" class="form-control" style="width: 100%; height:100px;"></textarea><br>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
  {% comment %} <form method="post" action="/complaint_reply_post/{{ data.complaint_id }}">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <br><br>
      <tr>
        <th>Complaint Reply</th>
        <td><textarea class="form-control" id="complaint_reply" name="complaint_reply" required></textarea></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </td>
      </tr>
    </table> 
  </form>{% endcomment %}
</body>
{% endblock x %}
