{% extends 'Admin/admin_home.html' %}
{% block x %}

<body>
  <br><br>
  <form method="post" action="/edit_vehicle_post/">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <tr>
        <th>Vehicle Number</th>
        <td>
          <input type="text" class="form-control" name="vehicle_number" value="{{ data.vehicle_number }}">
          <input type="hidden" name="id" value="{{ data.vehicle_id }}">
        </td>
      </tr>
      <tr>
        <th>Type</th>
        <td>
          <input type="text" class="form-control" name="vehicle_type" value="{{ data.type }}">
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-primary">Update</button>
        </td>
      </tr>
    </table>
  </form>
</body>
{% endblock x %}
