{% extends 'Admin/admin_home.html' %}
{% block x %}

<body>
  <br><br>
  <form method="post" action="/edit_product_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <tr align="center">
        <td colspan="2"><img src="{{data.photo}}" alt="" width="100px" height="100px"></td>
      </tr>
      <tr>
        <th>Product Name</th>
        <td><input type="text" class="form-control" name="product_name" value="{{ data.product_name }}"></td>
        <input type="hidden" name="id" value="{{ data.product_id }}">
      </tr>
      <tr>
        <th>Photo</th>
        <td><input type="file" class="form-control" name="photo"></td>
      </tr>
      <!-- Add Detail 1 -->
      <tr>
        <th>Color</th>
        <td>
          <select name="detail_1" id="detail_1" value={{}}}class="form-control">
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Grey">Grey</option>
            <option value="Black">Black</option>
            <option value="White">White</option>
          </select>
        </td>
      </tr>
      <!-- Add Detail 2 -->
      <tr>
        <th>Dimension</th>
        <td>
        <select name="detail_2" id="detail_2" class="form-control">
          <option value="Small">200 X 100 X50 mm</option>
          <option value="Medium">220 X 97 X 60 mm</option>
          <option value="Large">222 X 106 X73 mm</option>
          <option value="big">big</option>
        </select>
      </td>
      </tr>
      <!-- Add Detail 3 -->
      <tr>
        <th>Strength</th>
        <td><input type="text" name="detail_4" id="detail_4" class="form-control"/></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><textarea class="form-control" name="product_description" rows=7>{{ data.description }}</textarea></td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td><input type="text" class="form-control" name="product_quantity" value="{{ data.quantity }}"></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><input type="text" class="form-control" name="product_price" value="{{ data.price }}"></td>
      </tr>
      <tr>
        <th>Category Type</th>
        <td>
          <select class="form-control" name="category_type">
            {% for i in data2 %}
              <option value="{{ i.category_id }}">{{ i.category_name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr style="display:none" id="shape">
        <th>Shape</th>
        <td>
          <select name="detail_3" id="detail_3" class="form-control">
            <option value="Square">Square</option>
            <option value="Rectangle">Rectangle</option>
            <option value="Circle">Circle</option>
            <option value="Triangle">Triangle</option>
            <option value="Hexagon">Hexagon</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-primary">Update</button>
        </td>
      </tr>
    </table>
  </form>
</body>
{% endblock x %}
