{% extends 'Admin/admin_home.html' %}
{% block x %}

<body>
  <br><br>
  <form method="post" action="/edit_staff_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <tr>
        <th>Staff Name</th>
        <td>
          <input type="text" class="form-control" name="staff_name" value="{{ data.staff_name }}">
          <input type="hidden" name="id" value="{{ data.staff_id }}">
        </td>
      </tr>
      <tr>
        <th>Photo</th>
        <td>
          <input type="file" class="form-control" name="photo">
        </td>
      </tr>
      <tr>
        <th>Address</th>
        <td>
          <input type="text" class="form-control" name="address" value="{{ data.address }}">
        </td>
      </tr>
      <tr>
        <tr>
          <th>Pin</th>
          <td>
            <input type="text" class="form-control" name="pin" value="{{ data.pin }}">
          </td>
        </tr>
      <tr>
        <th>State</th>
        <td>
          <input type="tel" class="form-control" name="state" value="{{ data.state }}">
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <td>
          <input type="email" class="form-control" name="email" value="{{ data.email }}" readonly>
        </td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>
          <input type="text" class="form-control" name="phone" value="{{ data.phone }}">
        </td>
      </tr>
      <tr>
        <th>Post</th>
        <td>
          <select class="form-select" id="post" name="post" required>
            <option value="" disabled selected>Select a post</option>
            <option value="Driver">Driver</option>
            <option value="Labour">Labour</option>
          </select>
        </td>
      </tr>
      <tr>
        <th>Type</th>
        <td>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="staff_type" id="permanent" value="Permanent" checked="checked" required>
            <label class="form-check-label" for="permanent">
              Permanent
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="staff_type" id="temporary" value="Temporary" required>
            <label class="form-check-label" for="temporary">
              Temporary
            </label>
          </div>
        </td>
      <tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-primary">Update</button>
        </td>
      </tr>
    </table>
  </form>

</div>

</body>
{% endblock x %}
