{% extends 'Admin/admin_home.html' %}
{% block x %}

<head>
  <style>
      .form-table {
        border: 1px solid #000; /* Change the color as needed */
        width: 100%; /* Adjust as needed */
      }
    </style>
  <script>
    function valid()
    {
      var c=document.getElementById("category_type").value;

      if(c==9)
      {
        document.getElementById("dim").style.display="block";
        document.getElementById("dim1").style.display="block";
        document.getElementById("shaps").style.display="block";
      }
      
      else if(c==7)
      {
        document.getElementById("dim").style.display="block";
        document.getElementById("dim1").style.display="block";
        document.getElementById("shaps").style.display="none";
        
      }
      else{
        document.getElementById("dim").style.display="none";
        document.getElementById("dim1").style.display="none";
        document.getElementById("shaps").style.display="none";
      }
      

    }
    function valid1()
    {

        document.getElementById("shaps").style.display="none";
        document.getElementById("dim").style.display="none";
        document.getElementById("dim1").style.display="none";
      
    }
  </script>
  
</head>
<body onload="valid()">
  <br><br>
  <form method="post" action="/edit_product_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <tr align="center">
        <td colspan="2"><img src="{{data.photo}}" alt="" width="100px" height="100px"></td>
      </tr>
      <tr>
        <th>Product Name</th>
        <td><input type="text" class="form-control" name="product_name" value="{{ data.product_name }}" required></td>
        <input type="hidden" name="id" value="{{ data.product_id }}">
      </tr>
      <tr>
        <th>Photo</th>
        <td><input type="file" class="form-control" name="photo"></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><textarea class="form-control" name="product_description" required>{{ data.description }}</textarea></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><input type="text" class="form-control" name="product_price" value="{{ data.price }}" pattern="^[1-9][0-9]{0,2}$" required></td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td><input type="number" class="form-control" name="product_quantity" value="{{ data.quantity }}" max="2000" required></td>
      </tr>
      <tr>
        <th>Category Type</th>
        <td>
          <select class="form-select" name="category_type" id="category_type" onChange="valid();">
            <option value="" disabled>Select a category</option>
            {% for i in data2 %}
              <option value="{{ i.category_id }}" {% if data.CATEGORY_id == i.category_id %}selected{% endif %}>{{ i.category_name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      </table>
      <table class="table table-bordered table-hover">
        {% comment %} <div id="dim1">
          <table width="1150px" border="1px" height="50px"> {% endcomment %}
            <tr id= "dim1">
            <th style="width:340px">Color</th>
            <td style="width:960px">
              <select name="detail_1" id="detail_1" class="form-select" >
                <option value="" disabled>Select a color</option>
                <option value="Grey" {% if data.color == "Grey" %}selected{% endif %}>Grey</option>
                <option value="Red" {% if data.color == "Red" %}selected{% endif %}>Red</option>
                <option value="Black" {% if data.color == "Black" %}selected{% endif %}>Black</option>
              </select>
            </td>
          </tr>
        {% comment %} </table> {% endcomment %}
      {% comment %} </div> {% endcomment %}
      {% comment %} </table> {% endcomment %}
    
        <!-- Add Detail 2 -->
    {% comment %} <br>
      <div id="dim">
        <table width="1150px" border="1px" height="50px"> {% endcomment %}
          <tr id= "dim">
          <th style="width:334px">Dimension</th>
          <td style="width:960px">
          <select name="detail_2" id="detail_2" class="form-select" >
            <option value="" disabled selected>Select a dimension</option>
            <option {% if data.size == "8 x 8 x 16" %}selected{% endif %}>8 x 8 x 16</option>
            <option {% if data.size == "6 x 8 x 16" %}selected{% endif %}>6 x 8 x 16</option>
            <option {% if data.size == "5 x 8 x 16" %}selected{% endif %}>5 x 8 x 16</option>
            <option {% if data.size == "4 x 8 x 16" %}selected{% endif %}>4 x 8 x 16</option>
            <option {% if data.size == "3 x 8 x 16" %}selected{% endif %}>3 x 8 x 16</option>
          </select>
        </td>
        </tr>
      {% comment %} </table> {% endcomment %}
    </div>
    
    
    {% comment %} 
    <div id="shaps">
      <table width="1050px" border="1px"> {% endcomment %}
        <tr id="shaps">
          {% comment %} <td style="width:250px;padding:4px"> {% endcomment %}
          <th style="width:340px">Shape</th>
          <td style="width:960px">
            <select name="detail_3" class="form-select" >
              <option value="" disabled>Select a shape</option>
              <option value="Square" {% if data.shape == "Square" %}selected{% endif %}>Square</option>
              <option value="Rectangle" {% if data.shape == "Rectangle" %}selected{% endif %}>Rectangle</option>
              <option value="Others" {% if data.shape == "Others" %}selected{% endif %}>Others</option>
            </select>
          </td>
        </tr>
      </table>
      <div class="text-center">
        <input type="submit" name="button" id="button" value="Update" class="btn btn-primary"/>
      </div>
  </form>
</body>
{% endblock x %}