{% extends 'Admin/admin_home.html' %}
{% block x %}

<body>
  <br><br>
  <form method="post" action="/edit_staff_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <tr>
        <th>Staff Name</th>
        <td>
          <input type="text" class="form-control" name="staff_name" value="{{ data.staff_name }}">
          <input type="hidden" name="id" value="{{ data.staff_id }}">
        </td>
      </tr>
      <tr>
        <th>Photo</th>
        <td>
          <input type="file" class="form-control" name="photo">
        </td>
      </tr>
      <tr>
        <th>Place</th>
        <td>
          <input type="text" class="form-control" name="staff_place" value="{{ data.place }}">
        </td>
      </tr>
      <tr>
        <tr>
          <th>Email</th>
          <td>
            <input type="email" class="form-control" name="staff_email" value="{{ data.email }}" readonly>
          </td>
        </tr>
      <tr>
        <th>Phone</th>
        <td>
          <input type="tel" class="form-control" name="staff_phone" value="{{ data.phone }}">
        </td>
      </tr>
      <tr>
        <th>State</th>
        <td>
          <input type="text" class="form-control" name="staff_state" value="{{ data.state }}">
        </td>
      </tr>
      <tr>
        <td colspan="2" class="text-center">
          <button type="submit" class="btn btn-primary">Update</button>
        </td>
      </tr>
    </table>
  </form>

</div>

</body>
{% endblock x %}
