{% extends 'Admin/admin_home.html' %}
{% block x %}

<head>
  <style>
      .form-table {
        border: 1px solid #000; /* Change the color as needed */
        width: 100%; /* Adjust as needed */
      }
    </style>
  <script>
    function valid()
    {
      var c=document.getElementById("category_type").value;

      if(c==9)
      {
        document.getElementById("dim").style.display="block";
        document.getElementById("dim1").style.display="block";
        document.getElementById("shaps").style.display="block";
      }
      
      else if(c==7)
      {
        document.getElementById("dim").style.display="block";
        document.getElementById("dim1").style.display="block";
        document.getElementById("shaps").style.display="none";
        
      }
      else{
        document.getElementById("dim").style.display="none";
        document.getElementById("dim1").style.display="none";
        document.getElementById("shaps").style.display="none";
      }
      
      


    }
    function valid1()
    {

        document.getElementById("shaps").style.display="none";
        document.getElementById("dim").style.display="none";
        document.getElementById("dim1").style.display="none";
      
    }
  </script>
  
</head>
<body onload="valid1()">
  <br><br>
  <form method="post" action="/edit_product_post/" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered table-hover">
      <tr align="center">
        <td colspan="2"><img src="{{data.photo}}" alt="" width="100px" height="100px"></td>
      </tr>
      <tr>
        <th>Product Name</th>
        <td><input type="text" class="form-control" name="product_name" value="{{ data.product_name }}" required></td>
        <input type="hidden" name="id" value="{{ data.product_id }}">
      </tr>
      <tr>
        <th>Photo</th>
        <td><input type="file" class="form-control" name="photo"></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><textarea class="form-control" name="product_description" rows=7 required>{{ data.description }}</textarea></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><input type="text" class="form-control" name="product_price" value="{{ data.price }}" required></td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td><input type="text" class="form-control" name="product_quantity" value="{{ data.quantity }}" required></td>
      </tr>
      <tr>
        <th>Category Type</th>
        <td>
          <select class="form-select" name="category_type" id="category_type" onChange="valid();">
            <option value="" disabled selected>Select a category</option>
            {% for i in data2 %}
              <option value="{{ i.category_id }}">{{ i.category_name }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      </table>
      <table class="table table-bordered table-hover">
        {% comment %} <div id="dim1">
          <table width="1150px" border="1px" height="50px"> {% endcomment %}
            <tr id= "dim1">
            <th style="width:340px">Color</th>
            <td style="width:960px">
              <select name="detail_1" id="detail_1" class="form-select" >
                <option value="" disabled selected>Select a color</option>
                <option value="Grey">Grey</option>
                <option value="Red">Red</option>
                <option value="Black">Black</option>
                {% comment %} <option value="White">White</option>
                <option value="Blue">Blue</option> {% endcomment %}
              </select>
            </td>
          </tr>
        {% comment %} </table> {% endcomment %}
      {% comment %} </div> {% endcomment %}
      {% comment %} </table> {% endcomment %}
    
        <!-- Add Detail 2 -->
    {% comment %} <br>
      <div id="dim">
        <table width="1150px" border="1px" height="50px"> {% endcomment %}
          <tr id= "dim">
          <th style="width:334px">Dimension</th>
          <td style="width:960px">
          <select name="detail_2" id="detail_2" class="form-select" >
            <option value="" disabled selected>Select a dimension</option>
            <option>8 x 8 x 16</option>
            <option>6 x 8 x 16</option>
            <option>5 x 8 x 16</option>
            <option>4 x 8 x 16</option>
            <option>3 x 8 x 16</option>
          </select>
        </td>
        </tr>
      {% comment %} </table> {% endcomment %}
    </div>
    
    
    {% comment %} 
    <div id="shaps">
      <table width="1050px" border="1px"> {% endcomment %}
        <tr id="shaps">
          {% comment %} <td style="width:250px;padding:4px"> {% endcomment %}
          <th style="width:340px">Shape</th>
          <td style="width:960px">
            <select name="detail_3" class="form-select" >
              <option value="" disabled selected>Select a shape</option>
              <option value="Square">Square</option>
              <option value="Rectangle">Rectangle</option>
              <option value="Others">Others</option>
              {% comment %} <option value="Triangle">Triangle</option>
              <option value="Hexagon">Hexagon</option> {% endcomment %}
            </select>
          </td>
        </tr>
      </table>
      <div class="text-center">
        <input type="submit" name="button" id="button" value="Update" class="btn btn-primary"/>
      </div>
  </form>
</body>
{% endblock x %}