{% extends 'Admin/admin_home.html' %}
{% block x %}

<body>
  <br><br>
  {% if data %}
    <table class="table table-bordered table-hover">
        <tr>
          <th>S. No</th>
          <th>Customer</th>
          <th>Complaint Message</th>
          <th>Date</th>
        </tr>
        {% for i in data %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.CUSTOMER.customer_name }}</td>
            <td>{{ i.complaint_message }}</td>
            <td>{{ i.date }}</td>
            <td>
              <a href="/complaint_reply/{{i.complaint_id}}" class="btn btn-primary btn-sm">Reply</a>
            </td>
          </tr>
        {% endfor %}
    </table>
  {% else %}
    <p>No complaints available.</p>
  {% endif %}
</body>
{% endblock x %}
