{% extends 'Admin/admin_home.html' %}
{% block x %}

<body>
  {% if data %}
    <table class="table table-bordered table-hover">
      <br><br>
        <tr>
          <th>Vehicle Number</th>
          <th>Type</th>
        </tr>
        {% for i in data %}
          <tr>
            <td>{{ i.vehicle_number }}</td>
            <td>{{ i.type }}</td>
            <td><a href="/edit_vehicle/{{i.vehicle_id}}" class="btn btn-warning btn-sm" title="Edit"><i class="fas fa-edit"></i></a></td>
            <td><a href="/delete_vehicle/{{i.vehicle_id}}" class="btn btn-danger btn-sm" title="Delete"><i class="fas fa-trash-alt"></i></a></td>
          </tr>
        {% endfor %}
    </table>
  {% else %}
    <p>No vehicles available.</p>
  {% endif %}
</body>
{% endblock x %}
