{% extends 'Admin/admin_home.html' %}
{% block x %}

<body>
    <br><br>
    <form id="form1" name="form1" method="post" action="/view_sales_report1_post/">
      {% csrf_token %}
    <div style="float: left;">
      <select name="textfield" id="textfield" class="form-select">
        <option value="" disabled selected>Select a status</option>
        <option value="delivered">Delivered</option>
        <option value="cancelled">Cancelled</option>
        <option value="pending">Pending</option>
        <option value="returned">Returned</option>
      </select>
    </div>
    <div style="float: left;">&nbsp;
      <input type="submit" name="button" id="button" value="Search" class="btn btn-info"/>
    </div>
    <br><br><br>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="">
{% csrf_token %}
  {% if data %}
    <table class="table table-bordered table-hover">
      <tr>
        <th> S. No </th>
        <th> Name </th>
        <th> Phone </th>
        {% comment %} <th> Category </th> {% endcomment %}
        <th> Product </th>
        <th> Quantity </th>
        <th> Date </th>
        <th> Status </th>
      </tr>
      {% for i in data %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.CUSTOMER.customer_name }}</td>
        <td>{{ i.CUSTOMER.phone }}</td>
        {% comment %} <td>{{ i.PRODUCT.CATEGORY.category_name }}</td> {% endcomment %}
        <td>{{ i.PRODUCT.product_name }}<br>
        <img src="{{ i.PRODUCT.photo }}" alt="" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" /></td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.date }}</td>
        <td>
            {% if i.status == 'delivered' %}
                <span class="badge rounded-pill bg-success">{{ i.status }}</span>
            {% elif i.status == 'cancelled' %}
                <span class="badge rounded-pill bg-danger">{{ i.status }}</span>
            {% elif i.status == 'pending' %}
                <span class="badge rounded-pill bg-warning">{{ i.status }}</span>
            {% else %}
                {{ i.status }}
            {% endif %}
        </td>
        {% comment %} <td>
          <a href="/check_payment/{{i.order_id}}" class="btn btn-success" title="Check Payment">
            <i class="fas fa-money-check"></i>
          </a>
        </td> {% endcomment %}
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Orders not available</p>
  {% endif %}
</form>
</body>
{% endblock x %}
