{% extends 'Staff/staff_home.html' %}
{% block x %}

<body>
<br><br>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="">
    <input type="hidden" name="vehicle" value="{{ bb.vehicle_id }}">
{% csrf_token %}
    {% if data %}
        <table class="table table-bordered table-hover">
            <tr>
                <th>SL.NO</th>
                <th>Staff</th>
                <th>Job</th>
                <th>Date</th>
                <th>Time</th>
                <th>Workstation</th>
                {% comment %} <th>Status</th> {% endcomment %}
            </tr>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.STAFF.staff_name }}</td>
                <td>{{ i.job }}</td>
                <td>{{ i.date }}</td>
                <td>{{ i.time }}</td>
                <td>{{ i.workstation }}</td>
                {% comment %} <td>
                <span class="badge rounded-pill bg-warning"</span>{{i.status}}</span>
                </td> {% endcomment %}
                <td>
                    <a href="/finish_duty/{{i.duty_id}}" class="btn btn-primary btn-sm">Finish</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Duty not available</p>
    {% endif %}
</form>
</body>
{% endblock x %}
