{% extends 'Customer/home.html' %}
{% block x %}
<body>
    <div id="form-container">
        <form id="form1" name="form1" method="post" action="/add_order_post/{{id}}">
          {% csrf_token %}
          <table class="table table-bordered table-hover">
            <br><br>
        <tr>
            <th>Quantity:</th>
            <td><input type="text" id="quantity" name="quantity" min="1" class="form-control" required></td>
        </tr>
        <tr>
            <th>Payment:</th>
            <td>
                <select name="payment_method" id="payment_method" class="form-control" required>
                    <option value="" selected disabled>Select Payment Method</option>
                    <option value="BANK">BANK</option>
                    <option value="COD">COD</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-primary"/></td>
          </tr>
    </table>
</body>
{% endblock x %}
