{% extends 'Customer/home.html' %}
{% block x %}
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .rate {
            float: left;
            height: 46px;
            padding: 0 10px;
        }
        .rate:not(:checked) > input {
            position:absolute;
            top:-9999px;
        }
        .rate:not(:checked) > label {
            float:right;
            width:1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:30px;
            color:#ccc;
        }
        .rate:not(:checked) > label:before {
            content: '★ ';
        }
        .rate > input:checked ~ label {
            color: #ffc700;    
        }
        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;  
        }
        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }

        .form-box {
            border: 1px solid #ccc;
            padding: 20px;
            width: 50%;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

    </style>
</head>
<body>    
    <div class="form-box">
        <form method="POST" action="/add_return_post/{{data.order_id}}">
            {% csrf_token %}
            <h4>Reason</h4><br>
            <textarea name="reason" id="reason" class="form-control" style="width: 100%; height:100px;"></textarea><br>
            <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto;">Submit</button>
        </form>
    </div>
</body>
{% endblock x %}