{% extends 'Customer/home.html' %}
{% block x %}
<head>
    <script>
        function valid()
        {
            var accNumber = document.getElementById("account_number");
            var ifscCode = document.getElementById("ifsc_code");
            var branch = document.getElementById("branch");

            if(form1.payment_method.value=="BANK")
            {
               
                document.getElementById("payment").style.display='block';
                accNumber.setAttribute('required', '');
                ifscCode.setAttribute('required', '');
                branch.setAttribute('required', '');
            }
            if(form1.payment_method.value=="COD")
            {
               
                document.getElementById("payment").style.display='none';
                accNumber.removeAttribute('required');
                ifscCode.removeAttribute('required');
                branch.removeAttribute('required');
            }
        }
        function valid1()
        {
            if(form1.quantity.value=="")
            {
                form1.quantity.value=0;
            }
            var result=parseFloat(form1.quantity.value)*parseFloat(form1.price.value);
            
            form1.amount.value=result;
        }
    </script>
</head>
<body>
    <div id="form-container">
        <form id="form1" name="form1" method="post" action="/cart_orders1/">
          {% csrf_token %}
          <table class="table table-bordered table-hover">
            <br><br>
            <tr>
                <th>Payment:</th>
                <td>
                    <select name="payment_method" id="payment_method" class="form-control" onChange="valid();" required>
                        <option value="" selected disabled>Select Payment Method</option>
                        <option value="BANK">BANK</option>
                        <option value="COD">COD</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>
                    <input type="text" name="amount" id="amount" class="form-control" value={{amount}} readonly/>
                </td>
            </tr>
            <input type="hidden" name="price" value={{data.price}}>
        {% comment %} <tr>
            <th>Quantity:</th>
            <td><input type="text" id="quantity" name="quantity" min="1" class="form-control" required onKeyup="valid1();"></td>
        </tr> {% endcomment %}
    </table>
    <center>
<table style="display:none" id="payment" class="table table-bordered table-hover" >
    <tr>
        <th>Account Number</th>
        <td>
            <input type="text" name="acc_number" id="account_number" class="form-control" pattern="\d{15}" maxlength="15" title="Please enter a valid account number."/>
        </td>
    </tr>
    <tr>
        <th>IFSC Code</th>
        <td>
            <input type="text" name="ifsc_code" id="ifsc_code" class="form-control" pattern="[A-Za-z]{4}0[A-Za-z0-9]{6}" maxlength="11" title="Please enter a valid IFSC code."/>
        </td>
    </tr>
    <tr>
        <th>Branch</th>
        <td>
            <input type="text" name="branch" id="branch" class="form-control" maxlength="15"/>
        </td>
    </tr>
</table>


    <table>
        <tr>
            <td colspan="2" class="text-center">
                <button type="submit" name="button" id="button" class="btn btn-success">Submit</button>
            </td>
        </tr>
    </table>
</center>
</form>
</body>
{% endblock x %}
