{% extends 'Customer/home.html' %}
{% block x %}

    <div class="container">
    <form id="form1" name="form1" method="post" action="/customer_change_password_post/">
    {% csrf_token %}
  <table class="table table-bordered">
      <br><br>
    <tr>
      <th>Current Password</th>
      <td>
      <input type="text" name="textfield" id="textfield"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required class="form-control"/></td>
    </tr>
    <tr>
      <th>New Password</th>
      <td>
      <input type="Password" name="textfield2" id="textfield2"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required class="form-control"/></td>
    </tr>
    <tr>
      <th>Confirm Password</th>
      <td>
      <input type="Password" name="textfield3" id="textfield3"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required class="form-control"/></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><input type="submit" name="button" id="button" value="UPDATE" class="btn btn-success"/></td>

    </tr>
  </table>
</form>

    </div>
    {% endblock x %}