{% extends 'Customer/home.html' %}
{% block x %}
<body>
<form action="/make_payment/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
    <br><br>
  <table class="table table-bordered">
    <tr>
        <th>Amount</th>
        <td>
        <input type="text" name="amount" id="amount" class="form-control" value="{{data2.amount}}" readonly/></td>
    </tr>
    <tr>
        <th>Account Number</th>
        <td>
        <input type="text" name="acc_number" id="account_number" class="form-control" required/></td>
    </tr>
    <tr>
        <th>IFSC Code</th>
        <td>
        <input type="text" name="ifsc_code" id="ifsc_code" class="form-control" required/></td>
    </tr>
    <tr>
        <th>Branch</th>
        <td>
        <input type="text" name="branch" id="branch" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="2" class="text-center">
          <button type="submit" name="button" id="button" class="btn btn-success">Submit</button>
      </td>
  </tr>
  
  </table>
</form>
</body>
{% endblock x %}