{% extends 'Customer/home.html' %}
{% block x %}

<style>
    .table td img {
      width: 36px;
      height: 36px;
      border-radius: 100%; 
  }
  </style>
  <form id="form1" name="form1" method="post" action="/view_order_post/">
    {% csrf_token %}
    <table class="pull-left">
      <tr>
        <td>
          <input type="text" name="textfield" id="textfield" placeholder="Enter Product Name" class="form-control" />
        </td>
        <td>
          <input type="submit" name="button" id="button" value="Search" class="btn btn-info" />
        </td>
      </tr>
    </table>
    <br>
    {% if data %}
    <div style="text-align: center;">
    <table class="table table-bordered table-hover">
            <tr>
                <th>S. No</th>
                {% comment %} <th>Order ID</th> {% endcomment %}
                <th>Date</th>
                <th>Product</th>
                <th>Dimension</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Payment</th>
                <th>Status</th>   
            </tr>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                {% comment %} <td>{{ i.order_id }}</td> {% endcomment %}
                <td>{{ i.date }}</td>
                <td>{{ i.PRODUCT.product_name }}</td>
                <td>{{ i.PRODUCT.size }}
                <td>{{ i.quantity }}</td>
                <td>{{ i.amount }}</td>
                <td>
                    {% if i.payment_method == 'BANK' %}
                    <span class="badge bg-success">BANK</span>
                    {% elif i.payment_method == 'COD' %}
                    <span class="badge bg-warning">COD</span>
                    {% endif %}
                </td>
                <td>
                    {% if i.status == 'delivered' %}
                    <span class="badge rounded-pill bg-success">Delivered</span>
                    {% comment %} {% elif i.status == 'cancelled' %}
                    <span class="badge rounded-pill bg-danger">Cancelled</span> {% endcomment %}
                    {% elif i.status == 'pending' %}
                    <span class="badge rounded-pill bg-warning">Pending</span>
                    {% elif i.status == 'rejected' %}
                    <span class="badge rounded-pill bg-danger" style="color: black;">Rejected</span>
                    {% elif i.status == 'refunded' %}
                    <span class="badge rounded-pill bg-danger">Rejected and Refunded</span>
                    {% comment %} {% elif i.status == 'cancel requested' %}
                    <span class="badge rounded-pill bg-secondary">Cancel Request</span>
                    {% elif i.status == 'pending cancel requested' %} {% endcomment %}
                    {% comment %} <span class="badge rounded-pill bg-secondary">Pending Cancel Request</span>{% endcomment %}
                    {% elif i.status == 'return requested' %} 
                    <span class="badge rounded-pill bg-dark">Return Request</span>
                    {% elif i.status == 'return rejected' %}
                    <span class="badge rounded-pill bg-light" style="color: black;">Return Rejected</span>
                    {% elif i.status == 'confirmed' %}
                    <span class="badge rounded-pill bg-primary">Confirmed</span>
                    {% elif i.status == 'returned' %}
                    <span class="badge rounded-pill bg-info">Returned</span>
                    {% elif i.status == 'return confirmed' %}
                    <span class="badge rounded-pill bg-info" style="color: black;">Return Confirmed</span>
                    {% elif i.status == 'out of stock' %}
                    <span class="badge bg-danger">OUT OF STOCK</span>
                    {% else %}
                    {{ i.status }}
                    {% endif %}
                </td>
            

                <td>
                {% if i.status == 'delivered' %}
                
                <a href="/add_review/{{i.order_id}}" class="btn btn-primary btn-sm" title="Review">
                    <i class="fas fa-star"></i>
                    
                </a> </td>
                {% else %}
            
                {% endif %}
                {% comment %} {% if i.status == 'confirmed' %}
                    <td>
                        <a href="/cancel_order/{{i.order_id}}" class="btn btn-danger btn-sm">Cancel Order</a>
                    </td>
                {% elif i.status == 'pending' %}
                    <td>
                      <a href="/cancel_order/{{i.order_id}}" class="btn btn-danger btn-sm">Cancel Order</a>
                    </td> {% endcomment %}
                {% if i.status == 'delivered' %}
                    <td>
                        <a href="/add_return/{{i.order_id}}" class="btn btn-warning btn-sm">Return Order</a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
        </table>
    </div>
    {% else %}
        <p>No orders available.</p>
    {% endif %}

{% endblock x %}