{% extends 'Customer/home.html' %}
{% block x %}
    {% if data %}
    <table class="table table-bordered table-hover">
            <tr>
                <th>SI.No</th>
                {% comment %} <th>Order ID</th> {% endcomment %}
                <th>Date</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Order Status</th>   
            </tr>
            {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                {% comment %} <td>{{ i.order_id }}</td> {% endcomment %}
                <td>{{ i.date }}</td>
                <td>{{ i.PRODUCT.product_name }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.amount }}</td>
                <td>{{ i.status }}</td>
                <td>
                {% if i.status == 'delivered' %}
                <a href="/add_review/{{i.order_id}}" class="btn btn-primary btn-sm" title="Review">
                    <i class="fas fa-star"></i>
                </a> </td>
                {% else %}
            
                {% endif %}
                {% if i.status == 'confirmed' %}
                    <td>
                        <a href="/cancel_order/{{i.order_id}}" class="btn btn-danger btn-sm">Cancel Order</a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        <p>No orders available.</p>
    {% endif %}

{% endblock x %}