{% extends 'Customer/home.html' %}
{% block x %}

<style>
  .table td img {
    width: 36px;
    height: 36px;
    border-radius: 100%; 
}
</style>
<form id="form1" name="form1" method="post" action="/view_cart_post/">
  {% csrf_token %}
  <table class="pull-left">
    <tr>
      <td>
        <input type="text" name="textfield" id="textfield" placeholder="Enter Product Name" class="form-control" />
      </td>
      <td>
        <input type="submit" name="button" id="button" value="Search" class="btn btn-info" />
      </td>
    </tr>
  </table>
  <br>
<body>
  {% if data %}
  <div style="text-align: center;">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>S. No</th>
          <th>Product</th>
          <th>Dimension</th>
          <th>Quantity</th>
          {% comment %} <th>Date</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% for i in data %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><img src="{{ i.PRODUCT.photo }}" alt="" class="img-thumbnail" /> {{ i.PRODUCT.product_name }}</td>
            <td>{{ i.PRODUCT.size }}</td>
            <td>{{ i.quantity }}</td>
            {% comment %} <td>{{ i.date }}</td> {% endcomment %}
            <td><a href="/edit_cart/{{i.cart_id}}" class="btn btn-warning btn-sm" title="Edit"><i class="fas fa-edit"></i></a></td>
            <td><a href="/delete_cart/{{i.cart_id}}" class="btn btn-danger btn-sm" title="Delete"><i class="fas fa-trash-alt"></i></a></td>
          </tr>
          
        {% endfor %}
        <td colspan="6" class="text-center">
          <a href="/cart_orders" class="btn btn-success" title="Proceed">Proceed</a>
        </td>
      </tbody>
    </table>
  </div>
  {% else %}
    <p>No products available.</p>
  {% endif %}
</body>
{% endblock x %}
