{% extends 'Public/public_home.html' %}
{%load static %}
{% block x %}

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>CATEGORIES</h2>
        {% comment %} <p>" Comprehensive solutions for all your construction needs - from materials to delivery, we've got you covered "</p> {% endcomment %}
      </div>
      
      <div class="row gy-4">  
{% for ct in data %}
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card">
          <div class="card-img">
            <img src="{{ct.photo}}" alt="" class="img-fluid">
          </div>
           <h3><a href="/view_products/{{ct.category_id}}" class="stretched-link">{{ct.category_name}}</a></h3>
           <p>{{ct.description}}</p>
        </div>
      </div>
{% endfor %}
      </div>
</section>

{% endblock x %}