{% extends 'Public/home.html' %}
{% block x %}
<script>
  function valid()
  {
var category=form1.c1.value;
if(category=="Paving")
{
  
  
        document.getElementById("shape").style.display="table-row";
        
      }
      else{
        
        document.getElementById("shape").style.display="none";
      }
}
  
</script>
<body onload="valid()">
  <br>
  <form id="form1" name="form1" method="post" action="/public_view_categories1/" enctype="multipart/form-data">
    <input type="hidden" name="c1" value={{data.category_name}}>
    {% csrf_token %}
    <table class="table table-bordered table-hover">
        <tr>
            <th>Color</th>
            <td>
              <select name="color" id="detail_1" class="form-select">
                <option value="" disabled selected>Select a colour</option>
                <option value="Grey">Grey</option>
                <option value="Red">Red</option>
                <option value="Black">Black</option>
                {% comment %} <option value="White">White</option>
                <option value="Blue">Blue</option> {% endcomment %}
              </select>
            </td>
          </tr>
          <!-- Add Detail 2 -->
          <tr>
            <th>Dimension</th>
            <td>
            <select name="size" id="detail_2" class="form-select">
              <option value="" disabled selected>Select a dimension</option>
              <option>8 x 8 x 16</option>
              <option>6 x 8 x 16</option>
              <option>5 x 8 x 16</option>
              <option>4 x 8 x 16</option>
              <option>3 x 8 x 16</option>
            </select>
          </td>
          </tr>
                <tr id="shape">
                  <th>Shape</th>
                <td>
                  <select name="shape" class="form-select" >
                    <option value="" disabled selected>Select a shape</option>
                    <option value="Square">Square</option>
                    <option value="Rectangle">Rectangle</option>
                    <option value="Others">Others</option>
                    {% comment %} <option value="Triangle">Triangle</option>
                    <option value="Hexagon">Hexagon</option> {% endcomment %}
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
              </tr>
            </table>
  </form>
</body>
{% endblock x %}
