{% extends 'Accountant/accountant_home.html' %}
{% block x %}
  
<body>
  <br><br>
  <form id="form1" name="form1" method="post" action="/add_wage_post/{{id}}" onsubmit="return validateWage()">
    {% csrf_token %}
    <table class="table table-bordered table-hover" id="scroll">
    {% comment %} <tr>
        <th>Date</th>
        <td><input type="text" name="date" id="date" class="form-control"/></td>
        </tr>
      <tr> {% endcomment %}
        <th>Wage</th>
        <td><input type="number" name="wage" id="wage" class="form-control"/></td>
      </tr>
      <tr>
        <th>Remark</th>
        <td><textarea name="remark" id="remark" class="form-control"></textarea></td>
      </tr>
      <tr>
        <td colspan="2" class="text-center"><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
      </tr>
    </table>
  </form>

  <script>
    function validateWage() {
      var wage = document.getElementById("wage").value;
      if (wage < 500 || wage > 1500) {
        alert("Wage should be between 500 and 1500");
        return false;
      }
      return true;
    }
  </script>

</body>
{% endblock x %}
