{% extends 'Accountant/accountant_home.html' %}
{% block x %}

<style>
  .table td img {
     width: 36px; 
     height: 36px; 
     border-radius: 100%; 
}
</style>
<body>
  <br><br>
  <form id="form1" name="form1" method="post" action="/view_staff_post/">
    {% csrf_token %}
  <table class="pull-left">
    <tr>
      <td>
      <input type="text" name="textfield" id="textfield" placeholder="Enter Staff Name"  class="form-control"/></td>
      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-info"/></td>
    </tr>
  </table>
  <br>
  {% if data %}
  <div style="text-align: center;">
    <table class="table table-bordered table-hover">
        <tr>
          <th>S. No</th>
          <th>Staff</th>
          {% comment %} <th>Date of Birth</th> {% endcomment %}
          {% comment %} <th>Nationality</th> {% endcomment %}
          {% comment %} <th>Address</th> {% endcomment %}
          <th>Email</th>
          <th>Phone</th>
          {% comment %} <th>Aadhaar</th> {% endcomment %}
          {% comment %} <th>Qualification</th> {% endcomment %}
          {% comment %} <th>Remark</th> {% endcomment %}
          {% comment %} <th>Post</th> {% endcomment %}
        </tr>
        {% for i in data %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><img src="{{ i.photo }}" alt="{{ i.staff_name }}" class="img-thumbnail"><br>{{ i.staff_name }}</td>
            {% comment %} <td>{{ i.dob }}</td> {% endcomment %}
            {% comment %} <td>{{ i.nationality }}</td> {% endcomment %}
            {% comment %} <td>{{ i.address }}<br> {% endcomment %}
            {% comment %} {{ i.pin }}<br>
            {{ i.state }}</td> {% endcomment %}
            <td>{{ i.email }}</td>
            <td>{{ i.phone }}</td>
            {% comment %} <td>{{ i.aadhaar }}</td>
            <td>{{ i.qualification }}</td>
            <td>{{ i.remark }}</td>
            <td>{{ i.post }}</td> {% endcomment %}
            {% comment %} <td><a href="/edit_staff/{{i.staff_id}}" class="btn btn-warning btn-sm" title="Edit"><i class="fas fa-edit"></i></a></td>
            <td><a href="/delete_staff/{{i.staff_id}}" class="btn btn-danger btn-sm" title="Delete"><i class="fas fa-trash-alt"></i></a></td> {% endcomment %}
            <td><a href="/add_leave/{{i.staff_id}}" class="btn btn-primary btn-sm" title="Allot Wage">Prepare salary slip</a></td>
          </tr>
        {% endfor %}
    </table>
  </div>
  {% else %}
    <p>No staff available.</p>
  {% endif %}
</body>
{% endblock x %}
